{% extends 'base.html' %}

{% block content %}

<h2>What code should we generate?</h2>

<form id="register-form" method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        <span class="form-control">
          {{ field.label(class="form-label") }}
        </span>
        <span class="form-control">
          {{ field }}
        </span>
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit">Submit</button>
  </form>

{% endblock %}