{% extends 'base.html' %}

{% block content %}

<h1>Welcome, {{ user.first_name }}</h1>

<p>User: {{ user.first_name }} {{ user.last_name }}</p>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>

<br>

<a href="/new-code/{{ user.id }}">Create a new code</a>

<br>
<br>

<h3>Created Codes:</h3>

{% for code in user.codes %}

<div class="code-container">
<img class="created-codes" src="{{ code.completed_code }}" alt="">
<p class="code-text">{{ code.text }}</p>
</div>

{% endfor %}

{% endblock %}