body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;;
}

h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: silver;
}

br {
    margin: 0;
    padding: 0;
}

button {
    width: 100px;
    height: 40px;
    background-color: brown;
    color: white;
    font: bold;
    font-size: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(124, 21, 21);
    border-color: brown;
}

.new-code-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.topnav {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: brown;
    color: white;
    top: 0;
    margin: 0;
    padding-top: 10px;
    padding-left:10px;
    z-index: 99999;
}

.topnav-button {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    float: left;
    height: 80px;
    text-align: center;
}

.topbar-logo {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.topbar-text {
    all: unset;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.topbar-right {
    position: absolute;
    top: 30px;
    width: 300px;
    right: 80px;
}

.main-body {
    position: relative;
    top: 105px;
    margin: 20px;
    margin-left: 50px;
    padding-bottom: 80px;
}

.form-label {
    display: inline-block;
    width: 200px;
}

.code-container {
    float:left;
    width: 250px;
    margin: 50px;
}

.created-codes {
    align-items: center;
    width: 200px;
    height: auto;
}

.code-text {
    text-align: left;
    font-size: 15px;
}

.documentation-text {
    font-family: 'Courier New', Courier, monospace;
}